<menus>
<menu id="MainMenu">
    <menu-item id="item_1" label="@Strings.menu_label_1" />
    <menu-item id="item_2" label="@Strings.menu_label_2" />
    <menu-item id="item_3" label="Plavani" />
</menu>
<menu id="PickMenu">
    <menu-item id="pick_1" label="Horni limit" />
    <menu-item id="pick_2" label="Spodni limit" />
    <menu-item id="pick_3" label="Vyber" />
</menu>
</menus>
